.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.jumbotron{
    background-image: url("img/jumbotron-background.png");
    margin:0;
}
@media screen and (max-width: 768px){
#sahm{
    font-size: 3rem
}}